<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Login Rock Worthy</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="conatiner">
                  <div class="row">
                      <div class="col-1 hidden-sm-down offset-md-1">
                          <i class="fa fa-facebook-square fa-3x" style="color:#3b5998;"></i>
                      </div>
                      <div class="col-12 col-md-8 offset-md-1">
                          <a href="/auth/facebook" style="background-color:#3b5998;" class="btn btn-lg btn-info btn-block">
                              <i class="fa fa-facebook-square hidden-md-up" style="padding-right: 15px;"></i>Login with Facebook
                          </a>
                      </div>
                  </div>
                  <br />
                  <div class="row"> 
                      <div class="col-1 hidden-sm-down offset-md-1">
                          <i class="fa fa-google fa-3x" style="color: #db3236;"></i>
                      </div>
                      <div class="col-12 col-md-8 offset-md-1">
                          <a href="/auth/google" style="background-color: #db3236;" class="btn btn-lg btn-danger btn-block">
                              <i class="fa fa-google hidden-md-up" style="padding-right: 30px;"></i>Login with Google
                          </a>
                      </div>
                  </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>