<a href="#" class="menu-pick"><div class="nav-button nav-button-closed"><img src="/assets/rockworthy_pick.png"><span class="material-icons" style="color: #ffffff;">menu</span></a></div>            

        <nav id="navigation-side-bar" class="nav-closed">
            <div class="logo-main">
                <img class="img-fluid" src="/assets/rockworthy_main.png">
            </div>
            <ul class="list-unstyled menu-items" style="padding-top: 15px;">
                <hr class="fret" />
                <li>

                    <a class="main-menu-item" href="/">Home</a>

                </li>
                <hr class="fret" />
                <li>

                    <a class="secondary-menu-item" href="/live-music/">Live Music</a>

                </li>
                <hr class="fret" />
                <li>

                    <a class="secondary-menu-item" href="/art-exhibitions/">Art Exhibitions</a>

                </li>
                <hr class="fret" />
                <li>
  
                    <a class="secondary-menu-item" href="/craft-markets/">Craft Markets</a>
                </li>
                <hr class="fret" />
                <li>

                    <a class="secondary-menu-item disabled" onclick='return false;' href="/event-blog/">Event Blogs</a>

                </li>
                <hr class="fret" />
                <li>

                    <a class="last-menu-item" href="/venues/">Venues</a>
                    -
                    <a class="last-menu-item" href="/special-events/">Special events</a>
                </li>
                <hr class="fret" />
                <li>

                    <a class="last-menu-item"  href="/about/">About</a>
                    -
                    <a class="last-menu-item" href="/contact/">Contact</a>

                </li>
                <hr class="fret" />
                <sub>site credit: <a target="_blank" href="http://www.yourdev.co.za/">&copy; Yourdev Web Development</a></sub>
            </ul>
        </nav>