<!DOCTYPE html>
<html>
<head>
<% include ../partials/header.ejs %>
</head>

<body>
<% include ../partials/nav.ejs %>

<div class="cover-photo" style="background: url('/assets/rockworthy_main.png') center center; background-size: contain; background-repeat: no-repeat; background-color: #ffffff;">
</div>
<br />
<div class="container">
    <div class="card" style="padding: 15px;">
        <div class="card-body">
            <h4 class="card-title">About Rock Worthy</h4>
            <p class="card-text">Rock worthy is a website designed to simplify finding events mainly around Johannesburg and Pretoria and possibly more areas soon.</p>
            <p class="card-text">Certain venues and special event organizers have been added to the database. Rock Worthy is open to suggestions from the public to add more venues and event organizers as long as the suggestions are within the theme of Rock Worthy.</p>
            <p class="card-text">Data is pulled from the selected venues event posts on facebook.</p>
        </div>
    </div>
</div>
<br />

<% include ../partials/scripts.ejs %>
</body>

</html>