<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.host_name %> - <%= r.host_id %> -- <%= r.event_type %> -- <%= r.host_type %></li>
    <% }); %>
</ul>

</div>

</body>
</html>
