<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <div class="jumbotron">
    <h1 class="display-3">Hello, World!</h1>
  </div>

  <% include ../partials/scripts.ejs %>
</body>

</html>
