<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<% include ../partials/nav.ejs %>

<body>

<div class="cover-photo" style="background: url('/assets/images/play-69992.jpg') center center; background-size: cover;">
    <div class="cover-text"><h3 class="display-4">Welcome to Rock Worthy</h3></div>
</div>

  <% include ../partials/scripts.ejs %>
</body>

</html>